
/*----------------- HomePage CSS ------------------ */

.homepage-below-nav {
  display: flex; 
  flex-direction: row;
  padding-top: 40px; 
  z-index: 0;
  margin-top: 40px;
}

.side-nav-bar {
  display: flex; 
  flex-direction: column; 
  gap: 5px; 
  color: grey; 
  left: 0px; 
  width: 200px; 
  position: fixed; 
  background-color: black;
  height: 100%; 
  margin-bottom: 40px; 
  align-items: center;
  padding-top: 80px; 
}



.feature-card {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0px 20px;
  margin: 0px 200px; 
  /* background-color: red; */
  justify-content: center;
  flex-wrap: wrap;

  
}


.single-card-container{
    display:flex;
    flex-direction: column;
    margin:20px;
    border-radius: 10px;
    justify-content:space-between;
    overflow: hidden;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative; 
    background-color: linen;
    width: 200px; 
    height: 250px;
    padding: 10px; 
    box-shadow: 2px 2px red; 
    color: black 
}

.image-container {
  width: 150px; 
  height: 150px
}

/* .feature-card {
  color: whitesmoke;
  flex-direction: row;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 1rem;
  padding: 0px 20px;
  background-color: black;
  justify-content: center;
} */


.feature-title {
  text-align: center;
}


/*----------------- NavBar CSS ------------------ */

.top-nav-bar {
  display: flex; 
  flex-direction: row; 
  gap: 15px; 
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  width: 100%; 
  height: 90px; 
  position: fixed; 
  top: 0px; 
  z-index: 1; 
  
}

.logo{
  cursor: pointer;
}


.nav-top-innerdiv {
  display: flex; 
  flex-direction: row; 
  gap: 15px; 
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  width: 100%; 
  height: 90px; 
  margin-right: 30px; 
  top: 0px; 
  z-index: 1; 
  margin-left: 150px;
}



/*----------------- Auth: login-form CSS ------------------ */

.login-form {
  display: flex; 
  margin: 200px; 
  justify-content: center;
  background-color: white;
  color: black; 
  width: 800px; 
  height: 300px; 

}


/*----------------- Auth: signup-form CSS ------------------ */

.signup-form {
  display: flex; 
  margin: 200px; 
  justify-content: center;
  background-color: white;
  color: black; 
  width: 800px; 
  height: 300px;

}


.form {
  margin-top: 100px
}


/*----------------- Audio Player ------------------ */

.audio-player {
  position: fixed; 
  bottom: 0px; 
  width: 100%; 

}


/*----------------- createPlaylist: SinglePlaylistDetail ------------------ */

.detail-page {
  display: flex; 
  flex-direction: row; 
  padding-bottom:100px;
  padding-left:30px;

}

.playlist-page-detail {
  margin-left: 200px; 
  margin-top: 100px; 
  padding-bottom:100px;
  padding-left:30px;
}

.album-page-detail {
  margin-left: 200px; 
  margin-top: 100px; 
  padding-bottom:100px;
  padding-left:30px;
}

.search-page-detail {
  top: 0px; 
  background-color: black;
  margin-left: 180px; 
  position: relative;
  padding-bottom:100px;
  padding-left:30px;

}

/*-------- demo btn -------*/
.demo-btn{
  border-radius: 20px;
  padding:10px;
  border-color: rgb(179,179,179);
  background-color: transparent;
  color:rgb(179,179,179)

}
.demo-btn:hover{
  cursor: pointer;
  border-color: white;
  color:white

}


/*----------------- signup btn------------------ */

.sign-up-btn{
  text-decoration: none;
  color:rgb(179,179,179)

}
.sign-up-btn:hover{
  color:white
}

/*--------- login btn --------*/
.login-btn{
  border: solid 1px white;
  padding:10px;
  border-radius: 20px;
  text-decoration: none;
  color:black;
  background-color: white;
  transition: padding 0.2s;
}

.login-btn:hover{
  padding:15px;

}

.css-b62m3t-container{
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
    color: black;
    font-family: Gotham;
    position: relative;
    box-sizing: border-box;
  }
   .css-qbdosj-Input{
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
    font-family: Gotham;
    cursor: default;
    visibility: visible;
    flex: 1 1 auto;
    display: inline-grid;
    grid-area: 1/1/2/3;
    grid-template-columns: 0 min-content;
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: black;
    box-sizing: border-box;
   }