.card-container{
    display:flex;
    margin:20px;
    border-radius: 10px;
    justify-content:space-between;
    overflow: hidden;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative; 
}